$fondo_btn1: blueviolet;
$fondo_btn2: rgb(35,49,173);
$fondo_btn3: rgb(182, 4, 72);
$letra_principal: whitesmoke;
$fondo_principal: rgba(255,255,255,0.5);
$fondo_btn_footer: rgba(0,0,0,0.5);

$margin_logos: 0.5em;
$margin_btn: 0.5em;
$margin_img: 1em;
$border_radius_btn: 0.5em;
$padding_btn: 0.7em;